/** Reset css **/ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
  } 

/** Base style **/
body{
    background-color: #000000;
}
.container{
    width: 1190px;
    margin: 0 auto;
}
.primary-button, .secondary-button{
    display: flex;
    align-items: center;
    padding: .6rem 1.5rem;
    margin: 0 0.6rem 0.6rem 0;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.primary-button{
    background-color: white;
    color: #000000;
}
.secondary-button{
    background-color:rgba(109, 109, 110, 0.7);
    color: #ffffff;
}
.play-icon, .infos-icon{
    padding-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

/** Header style **/
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}
.moovie-info-layer{
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
}
.primary-movie-title{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    font-size: 2rem;
}
.button-layer{
    display: flex;
}
/** Navbar style **/
.navbar, .navbar-nav, .navbar-primary,
.navbar-secondary{
    display: flex;
}
.navbar{
    height: 70px;
    width: 100%;
    background-image:linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.navbar-nav{
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    margin-right: 100px;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    text-decoration-color: rgb(229, 9, 20);
    color: rgb(229, 9, 20);
    cursor: pointer;
}
.nav-item{
    margin-left: 6px;
    margin-right: 6px;
    padding: 8px 10px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color:#ffffff;
    font-weight: 500;
}
/**

.card{
    background-color: aqua;
    object-fit: scale-down;
    max-width: 10rem;
    max-height: 14.75rem;
    padding: 0.1rem;
}
.card img{
    max-width: 10rem;

}
*/
.moovie-slider{
    display: flex;
    justify-content: space-between;
}
.slider_nav{
    position:relative;
}
.carousel{
    display: flex;
}
.carousel-button-previous, .carousel-button-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.next, .previous{
    width: 50px;
    height: 50px;
    color:#ffffff;
}
.next:hover, .previous:hover{
    background-color: rgba( 244, 244, 244, 0.1 );
}


/** 
========================================
         Section Carousel
========================================
*/

.btn{
    position:absolute;
    z-index: 1;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(36, 36, 36, 0.5);
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.categories{
    display: flex;
}
.carousel-container{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 20.375rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.carousel-content{
    display: flex;
    gap:2rem;
    position: absolute;
    transition: all 0.7s ease;
}
.card{
    max-width: 15rem;
    max-height: 20.375rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    border-radius: 0.5rem;
    width: 15rem;
    max-height: 20.375rem;
}